In [23]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

# Exercici 1

A partir dels documents adjunts (estructura i dades), crea una base de dades amb MySQL.

In [24]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Bruc2017")
mycursor = mydb.cursor()

In [25]:
mycursor.execute("CREATE DATABASE movies")

In [26]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Bruc2017",
    database="movies")

In [27]:
mysql_engine = create_engine("mysql+mysqlconnector://root:Bruc2017@localhost/movies")

In [28]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies.tb_genre \
 (genre_id         INTEGER NOT NULL ,\
  genre_name       CHARACTER VARYING(40) NOT NULL ,\
  created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,\
  created_date     DATE ,\
  updated_date DATE ,\
  CONSTRAINT pk_genre PRIMARY KEY (genre_id))"
)

In [29]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies.tb_movie \
 (movie_id         INTEGER NOT NULL AUTO_INCREMENT ,\
  movie_title      CHARACTER VARYING(100) NOT NULL ,\
  movie_date       DATE ,\
  movie_format     CHARACTER VARYING(50) ,\
  movie_genre_id   INTEGER ,\
  created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,\
  created_date     DATE ,\
  updated_date     DATE ,\
  CONSTRAINT pk_movie PRIMARY KEY (movie_id) ,\
  CONSTRAINT fk_movie_genre FOREIGN KEY (movie_genre_id) REFERENCES movies.tb_genre (genre_id) ON DELETE CASCADE ON UPDATE CASCADE)"
)

In [30]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies.tb_role \
 (role_id          INTEGER NOT NULL ,\
  role_name        CHARACTER VARYING(60) NOT NULL ,\
  created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,\
  created_date     DATE ,\
  updated_date     DATE ,\
  CONSTRAINT pk_role PRIMARY KEY (role_id))"
)

In [31]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies.tb_person"
 "(person_id        INTEGER NOT NULL ,"
 "person_name      CHARACTER VARYING(100) NOT NULL ,"
 "person_country   CHARACTER VARYING(40) ," 
 "person_dob       DATE NOT NULL ,"
 "person_dod       DATE ,"
 "person_parent_id INTEGER ,"
 "created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,"
 "created_date     DATE ,"
 "updated_date     DATE ,"
 "CONSTRAINT pk_person PRIMARY KEY (person_id) ,"
 "CONSTRAINT fk_person_parent FOREIGN KEY (person_parent_id) REFERENCES movies.tb_person (person_id) ON DELETE CASCADE ON UPDATE CASCADE)" 
)

In [32]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies.tb_movie_person"  
 "(movie_id        INTEGER NOT NULL ,\
  person_id        INTEGER NOT NULL ,\
  role_id          INTEGER NOT NULL ,\
  movie_award_ind  CHAR(1) NOT NULL ,\
  created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,\
  created_date     DATE ,\
  updated_date     DATE ,\
  CONSTRAINT pk_movie_person PRIMARY KEY (movie_id, person_id, role_id) , \
  CONSTRAINT fk_movie_movie FOREIGN KEY (movie_id) REFERENCES movies.tb_movie (movie_id) ON DELETE CASCADE ON UPDATE CASCADE, \
  CONSTRAINT fk_movie_person FOREIGN KEY (person_id) REFERENCES movies.tb_person (person_id) ON DELETE CASCADE ON UPDATE CASCADE,\
  CONSTRAINT fk_movie_role FOREIGN KEY (role_id) REFERENCES movies.tb_role (role_id) ON DELETE CASCADE ON UPDATE CASCADE)"
)

In [33]:
mycursor=mydb.cursor()

sql_1 = "INSERT INTO movies.tb_genre (genre_id, genre_name) \
         VALUES (%s, %s)"
val_1 = [( 1, 'Acción'),
         ( 2, 'Ciencia Ficción'),
         ( 3, 'Comedia'),
         ( 4, 'Drama'),
         ( 7, 'Musical'),
         ( 8, 'Romance'),
         ( 9, 'Suspense'),
         (10, 'Terror'),
         (11, 'Bélico')
            ]

sql_1_1 = "INSERT INTO movies.tb_genre (genre_id, genre_name, created_by_user, created_date, updated_date) \
            VALUES (%s, %s, %s, %s, %s)" 
val_1_1 =[( 5, 'Fantasía', 'apermag', None, None),
         (6, 'Melodrama', 'apermag', '2018-09-01', '2018-09-27')
         ]

mycursor.executemany(sql_1, val_1)
mycursor.executemany(sql_1_1, val_1_1)
mydb.commit()

In [34]:
mycursor=mydb.cursor()

sql_2 = "INSERT INTO movies.tb_movie (movie_title, movie_date, movie_format, movie_genre_id) \
         VALUES ( %s, %s, %s, %s)"
val_2 = [( 'Apocalypse Now', '1979-05-10', 'Film', 11),
         ( 'Star Wars:Episode IV - A New Hope', '1977-05-25', 'Film', 2),
         ( 'Indiana Jones and the Temple of Doom', '1984-05-08', 'Film', 1),
         ( 'The Terminal', '2004-06-18', 'Digital', 3),
         ( 'Jaws', '1975-01-01', 'Film', 10),
         ( 'ET The Extraterrestrial', '1982-07-25', 'Film', 5),
         ( 'Psycho', '1960-05-06', 'Film', 9),
         ( 'Ocho Apellidos Vascos', '2014-03-14', 'Digital', 3),
         ( 'Ocho Apellidos Catalanes', '2016-06-09', 'Digital', 8),
         ( 'El otro lado de la cama', '2002-09-04', 'Digital', 8),
         ( 'La Gran Familia Española', '2012-10-15', 'Digital', 3),
         ( 'El dia de la bestia', '1994-12-25', 'Film', 1),
         ( 'Braveheart', '1995-08-08', 'Film', 4),
         ( 'The Shawshank Redemption', '1992-01-07', 'Film', 4),
         ( 'Las brujas de Zugarramurdi', '2009-10-07', 'Digital', 9),
         ( 'Blade Runner', '1982-12-25', 'Digital', 2)
        ]
mycursor.executemany(sql_2, val_2)
mydb.commit()

In [35]:
mycursor=mydb.cursor()

sql_3 = "INSERT INTO movies.tb_role (role_id, role_name) \
         VALUES (%s, %s)"
val_3 = [( 1, 'Actor'),
         ( 2, 'Director'),
         ( 3, 'Productor'),
         ( 4, 'Guionista'),
         ( 5, 'Música')]

mycursor.executemany(sql_3, val_3)
mydb.commit()

In [36]:
mycursor=mydb.cursor()

sql_4 = "INSERT INTO movies.tb_person (person_id, person_name, person_country, person_dob, person_dod, person_parent_id) \
        VALUES (%s, %s, %s, %s, %s, %s)"
val_4 = [( 1, 'Francis Ford Coppola', 'United States', '1939-04-07', None, None),
         ( 2, 'Carmine Coppola', 'United States', '1945-07-08', None, None),
         ( 3, 'Marlon Brando', 'United States', '1924-04-03', '2004-07-01', None),
         ( 4, 'Robert Duvall', 'United States', '1931-01-05', None, None),
         ( 5, 'Martin Sheen', 'United States', '1940-08-03', None, None),
         ( 6, 'Harrison Ford', 'United States', '1942-07-13', None, None),
         ( 7, 'George Lucas', 'United States', '1944-05-14', None, None),
         ( 8, 'Gary Kurtz', 'United States', '1940-07-27', None, None),
         ( 9, 'Steven Spielberg', 'United States', '1946-12-18', None, None),
         (10, 'John Williams', 'United States', '1928-08-08', None, None),
         (11, 'Tom Hanks', 'United States', '1956-07-09', None, None),
         (12, 'Catherine Zeta-Jones', 'Wales', '1969-09-25', None, None),
         (13, 'Alfred Joseph Hitchcock', 'United Kingdom', '1899-08-13', '1980-04-29', None),
         (14, 'Anthony Perkins', 'United States', '1934-04-04', '1992-09-08', None),
         (15, 'Vera Miles', 'United States', '1929-08-23', None, None),
         (16, 'Emilio Martinez Lazaro', 'Spain', '1956-09-09', None, None),
         (17, 'Dani Rovira', 'Spain', '1984-07-01', None, None),
         (18, 'Clara Lago', 'Spain', '1986-04-17', None, None),
         (19, 'Carmen Machi', 'Spain', '1964-08-09', None, None),
         (20, 'Karra Elejalde', 'Spain', '1960-03-06', None, None),
         (22, 'Quim Gutierrez', 'Spain', '1981-03-27', None, None),
         (23, 'Robert Alamo', 'Spain', '1970-05-06', None, None),
         (24, 'Hector Colome', 'Spain', '1944-10-25', '2015-02-28', None),
         (25, 'Veronica Echegui', 'Spain', '1983-03-14', None, None),
         (26, 'Patrick Criado', 'Spain', '1995-09-23', None, None),
         (27, 'Sean Connery', 'Scotland', '1930-07-08', None, None),
         (28, 'Mel Gibson', 'Australia', '1950-08-09', None, None),
         (29, 'Morgan Freeman', 'United States', '1935-10-01', None, None),
         (30, 'Tim Robbins', 'United States', '1949-06-07', None, None),
         (41, 'Charlie Sheen', 'United States', '1965-09-03', None, 5),
         (42, 'Emilio Estevez', 'United States', '1962-05-12', None, 5),
         (43, 'Ramón Estevez', 'United States', '1963-08-07', None, 5),
         (44, 'Reneé Estevez', 'United States', '1967-04-02', None, 5),
         (45, 'Paula Speert Sheen', 'United States', '1986-01-06', None, 41),
         (46, 'Bob Sheen', 'United States', '2009-05-01', None, 41),
         (47, 'Max Sheen', 'United States', '2009-05-01', None, 41),
         (48, 'Sam Sheen', 'United States', '2004-03-09', None, 41),
         (49, 'Lola Sheen', 'United States', '2005-06-01', None, 41),
         (50, 'Paula Jones-Sheen', 'United States', '2003-07-06', None, 45),
         (51, 'Paloma Rae Estevez', 'United States', '1986-02-15', None, 42),
         (52, 'Taylor Levi Estevez', 'United States', '1984-06-22', None, 42)
        ]
        
mycursor.executemany(sql_4, val_4)
mydb.commit()

In [37]:
mycursor=mydb.cursor()

sql_5 = "INSERT INTO movies.tb_movie_person (movie_id, person_id, role_id, movie_award_ind) \
        VALUES (%s, %s, %s, %s)"
val_5 = [( 1, 1, 2, 'Y'),
         ( 1, 1, 3, 'N'),
         ( 1, 1, 5, 'N'),
         ( 1, 2, 5, 'N'),
         ( 1, 3, 1, 'N'),
         ( 1, 4, 1, 'N'),
         ( 1, 5, 1, 'Y'),
         ( 1,41, 1, 'N'),
         ( 1, 6, 1, 'N'),
         ( 2, 6, 1, 'N'),
         ( 2, 7, 2, 'Y'),
         ( 2, 8, 3, 'N'),
         ( 3, 6, 1, 'N'),
         ( 3, 7, 4, 'N'),
         ( 3, 9, 2, 'N'),
         ( 3,10, 5, 'N'),
         ( 4, 9, 2, 'N'),
         ( 4, 9, 3, 'N'),
         ( 4,11, 1, 'N'),
         ( 4,12, 1, 'N'),
         ( 5, 9, 2, 'N'),
         ( 6, 9, 2, 'N'),
         ( 7,13, 1, 'N'),
         ( 7,13, 2, 'N'),
         ( 7,13, 3, 'N'),
         ( 7,14, 2, 'N'),
         ( 7,15, 2, 'N'),
         ( 3, 7, 1, 'N'),
         ( 8,16, 2, 'N'),
         ( 9,16, 2, 'N'),
         ( 8,17, 1, 'N'),
         ( 8,18, 1, 'N'),
         ( 8,19, 1, 'N'),
         ( 8,20, 1, 'N'),
         ( 9,17, 1, 'N'),
         ( 9,18, 1, 'N'),
         ( 9,19, 1, 'N'),
         ( 9,20, 1, 'N'),
         (10,16, 2, 'N'),
         (11,21, 2, 'N'),
         (11,21, 4, 'N'),
         (11,22, 1, 'N'),
         (11,23, 1, 'N'),
         (11,24, 1, 'N'),
         (11,25, 1, 'N'),
         (11,26, 1, 'N'),
         (13,28, 1, 'Y'),
         (13,28, 2, 'N'),
         (14,29, 1, 'N'),
         (14,30, 1, 'N'),
        ]

mycursor.executemany(sql_5, val_5)
mydb.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`movies`.`tb_movie_person`, CONSTRAINT `fk_movie_person` FOREIGN KEY (`person_id`) REFERENCES `tb_person` (`person_id`) ON DELETE CASCADE ON UPDATE CASCADE)

In [38]:
mydb.close()